.contact__title {
  font-size: 4rem;
  color: var(--color-white);
}

.contact__container {
  margin-bottom: 5rem;
  .contact__options {
    display: flex;
    justify-content: space-around;
    .contact__option {
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 2rem;
      color: var(--color-light);
      padding: 2rem;
      text-align: center;
      border: 1px solid transparent;

      &:hover {
        background-color: rgba(0, 0, 0, 0.6);
        transition: all 0.25s;
        color: var(--color-white);
        .contact__option--mail {
          color: var(--color-white);
        }
      }
      .contact__option--icon {
        font-size: 2.2rem;
      }
      .contact__option--title {
        font-size: 1.8rem;
        margin: 0.8rem 0;
      }
      .contact__option--content {
        font-size: 1.6rem;
      }
    }
  }
}

// MEDIA QUERIES
// Tablet
@media (max-width: 1023px) and (min-width: 740px) {
  .contact__title {
    font-size: 3rem;
  }

  .contact__container {
    .contact__options {
      .contact__option {
        padding: 1rem;

        .contact__option--icon {
          font-size: 1.8rem;
        }
        .contact__option--title {
          font-size: 1.3rem;
        }
        .contact__option--content {
          font-size: 1.3rem;
        }
      }
    }
  }
}
// Mobie
@media (max-width: 739px) {
  .contact__title {
    font-size: 3rem;
  }

  .contact__container {
    .contact__options {
      margin: 16px;
      .contact__option {
        padding: 1rem;
        margin: 8px;
        .contact__option--icon {
          font-size: 1.8rem;
        }
        .contact__option--title {
          font-size: 1.3rem;
        }
        .contact__option--content {
          font-size: 1.3rem;
        }
      }
    }
  }
}
