.footer__container {
  background: rgba(0, 0, 0, 0.75);
  height: 250px;
  text-align: center;
  padding: 2.5rem;
  .footer__title {
    font-size: 4rem;
  }
  .footer__slogan {
    font-size: 1.6rem;
    font-style: italic;
    margin: 1rem 0;
  }
  .footer__socials {
    display: flex;
    align-items: center;
    justify-content: center;
    .footer__socials--item {
      margin: 0.8rem;
      font-size: 2rem;
      border-radius: 50%;
      background-color: var(--color-black);
      color: var(--color-white);
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.25s;
      &:hover {
        opacity: 0.6;
      }
      &:active {
        scale: 0.8;
      }
    }
    margin-bottom: 1rem;
  }
  .footer__copyright {
    font-size: 1.4rem;
  }
}

// MEDIA QUERIES
// Tablet
@media (max-width: 1023px) and (min-width: 740px) {
  .footer__container {
    .footer__title {
      font-size: 3rem;
    }
    .footer__slogan {
      font-size: 1.4rem;
      font-style: italic;
      margin: 8px 0;
    }
    .footer__socials {
      .footer__socials--item {
        font-size: 1.6rem;
        width: 30px;
        height: 30px;
      }
      margin-bottom: 8px;
    }
    .footer__copyright {
      font-size: 1.2rem;
    }
  }
}
// Mobie
@media (max-width: 739px) {
  .footer__container {
    .footer__title {
      font-size: 3rem;
    }
    .footer__slogan {
      font-size: 1.4rem;
      font-style: italic;
      margin: 8px 0;
    }
    .footer__socials {
      .footer__socials--item {
        font-size: 1.6rem;
        width: 30px;
        height: 30px;
      }
      margin-bottom: 8px;
    }
    .footer__copyright {
      font-size: 1.2rem;
    }
  }
}
